/* common features */
/***************************************************************
 *                                                             *
 *                          common features                    *
 *                                                             *
 ***************************************************************/
/* * {
    font-family: gmarket-sans;
} */

:root {
    --navbar-height: 50px;
}

html, body {
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
}

.sections {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    display: none;
}

body::before {
    display: block;
    content: '';
}

.bg-dark {
    background-color: #111 !important;
}

#logo {
    width: auto;
    height: var(--navbar-height);
}

.navbar-nav .nav-item .nav-link {
    background-color: #fff;
    padding: 10px 0;
}

.nav-link::after {
    content: "|";
    color: #aaa;
    padding: 0 15px;
}

.nav-item:last-child .nav-link::after {
    content: none;
}

a:focus,
a:hover {
    text-decoration: none;
    color: #537dcf;
    outline: 0;
}

.nav-link {
    font-weight: bold;
    color: #333;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    color: #537dcf;
}

.backgrounds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    background-color: rgba(0, 0, 0, 0.7);
}

#form-search {
    margin-right: 2rem;
}

/***************************************************************
 *                                                             *
 *                             Loading                         *
 *                                                             *
 ***************************************************************/
 .loading {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background:#fff;
    z-index:1000;
}

.loading-components {
    box-sizing: border-box;
    margin: auto;
}

.loading-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.3333333333;
    color: #151B26;
    text-align: center;
    animation-name: flicker;
    animation-duration: 1600ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-bottom: 20px;
}

.progress-bar{
    width: 300px;
    height: 12px;
    background-color: #e5eaef;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}

.progress-bar-gauge{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 12px;
    border-radius: 100px;
    background-color: #13CE66;
    animation-name: loading-bar;
    animation-duration: 1600ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes flicker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes loading-bar {
    0% {
        width: 0;
        opacity: 0;
    }
    90% {
        width: 100%;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}

/***************************************************************
 *                                                             *
 *                          Header section                     *
 *                                                             *
 ***************************************************************/
.navbar-custom {
    height: var(--navbar-height);
    background-color: #fff;
}

.navbar-brand {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
}

/***************************************************************
 *                                                             *
 *                          Footer section                     *
 *                                                             *
 ***************************************************************/
.footer {
    position: absolute;
    width: 100%;
    height: 44px;
    bottom: -44px;
}

.copyright,
.footer-social-links {
    margin: 10px 0;
}

.footer .footer-social-links {
    text-align: right;
}

.footer .footer-social-links a {
    display: inline-block;
    padding: 0 6px;
    color: #aaa;
}

.footer .footer-social-links a:hover {
    color: #fff;
}

.footer-info {
    font-size: 17px;
    line-height: 17px;
}


/***************************************************************
 *                                                             *
 *                          intro section                      *
 *                                                             *
 ***************************************************************/
.intro-contents {
    padding-top: 50px;
    opacity: 0;
}


/***************************************************************
 *                                                             *
 *                          Scoll To Top                       *
 *                                                             *
 ***************************************************************/
.scroll-up {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.scroll-up a {
    display: block;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 28px;
    font-size: 28px;
    color: #aaa;
    opacity: 0.6;
    border-radius: 100%;
    transition: opacity 0.3s, color 0.3s, background-color 0.3s;
}

.scroll-up a:active,
.scroll-up a:hover {
    opacity: 1;
    color: #111;
    background-color: #fff;
}

/* font-css */
/* @font-face {
    font-family: gmarket-sans;
    src: url(assets/fonts/GmarketSansOTF/GmarketSansMedium.otf);
}

@font-face {
    font-family: gmarket-sans-bold;
    src: url(assets/fonts/GmarketSansOTF/GmarketSansBold.otf);
}

@font-face {
    font-family: gmarket-sans-light;
    src: url(assets/fonts/GmarketSansOTF/GmarketSansLight.otf);
} */

/***************************************************************
 *                                                             *
 *                      According to width                     *
 *                                                             *
 ***************************************************************/
.container-temp {
    /* width: 540px; */
}
@media(max-width: 576px) {
    .main-onus-contents {
        width: 100%;
    }
}

@media(min-width: 576px) {
    .main-onus-contents {
        width: 540px;
    }
}

@media(max-width: 768px) {
    .main-onus-contents {
        width: 720px;
    }
}

@media(max-width: 992px) {
    #top-navbar {
        height: 70px;
    }

    .main-onus-contents {
        width: 960px;
    }

    .nav-link::after {
        content: none;
    }

    .copyright {
        font-size: small;
    }

    .footer-info {
        font-size: small;
    }

    #footer-contents {
        display: flex;
        flex-direction: column;
    }
    
}

@media(max-width: 1200px) {
    .main-onus-contents {
        width: 1140px;
    }
}

@media(min-width: 1400px) {
    .main-onus-contents {
        width: 1320px;
    }
}