/***************************************************************
 *                                                             *
 *                       Common features                       *
 *                                                             *
 ***************************************************************/
:root {
    --navbar-height: 90px;
}

.big-title > h2 {
    width: 70%;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    color: #fff;
}

/* .small-titles {
    padding-top: 20px;
}

.small-titles > h3 {
    font-size: 20px;
    font-weight: bold;
} */

/***************************************************************
 *                                                             *
 *                             Pips                            *
 *                                                             *
 ***************************************************************/
.pg-pips {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 15%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pg-pips ul {
    margin: 0;
    padding: 0;
}

.pg-pips ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 20px;
    position: relative;
}

.pg-pips ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 10px;
    width: 10px;
    border: 0;
    background: #fff;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    transition: all 0.1s ease-in-out;
    font-size: 20px;
    font-family: surround-air;
}

.pg-pips span:after {
    background: rgba(255, 255, 255, 0.15);
    position: absolute;
    content: "";
    display: block;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-radius: 100%;
    transition: 0.3s;
}

.pg-pips li .active span {
    background: #fff;
    position: absolute;
}

.pg-pips li .active span:after {
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
}

.pg-pips ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    content: "how about this";
}

.pg-pips ul li a.active span,
.pg-pips ul li:hover a.active span {
    height: 20px;
    width: 20px;
    margin: -7px 0 0 -7px;
    border-radius: 100%;
}

.pg-pips ul li:hover a span {
    width: 15px;
    height: 15px;
    margin: -5px 0 0 -5px;
}

/* .subnav {
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    right: 0;
    padding: 0;
    width: 100vw;
    justify-content: center;
    background-color: #fff;
    border-top: 1px solid #aaa;
    z-index: 5;
}

.subnav-contents {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.sub-nav-items {
    padding: 8px 0;
}

.sub-nav-items:active,
.sub-nav-items:focus,
.sub-nav-items:hover {
    color: #537dcf;
} */

/***************************************************************
 *                                                             *
 *                         Intro section                       *
 *                                                             *
 ***************************************************************/
.section-intro {
    padding-top: var(--navbar-height);
    display: flex;
    align-items: center;
}

.handal-title {
    padding-top: var(--navbar-height);
}

.handal-title > h2 {
    text-align: center;
    color: white;
    font-weight: bold;
}

.backgrounds {
    justify-content: center;
    overflow-y: hidden;
}

.backgrounds::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.intro-bg {
    width: fit-content;
    margin: auto;
}

.backgrounds > img {
    height: 100%;
}

/***************************************************************
 *                                                             *
 *                        Page Background                      *
 *                                                             *
 ***************************************************************/
.bg-page {
    position: fixed;
    display: flex;
    width: fit-content;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -100;
}

.bg-page-box, #bg-page {
    height: 100%;
    margin: auto;
}

.bg-page-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/***************************************************************
 *                                                             *
 *                            Modal                            *
 *                                                             *
 ***************************************************************/
#modal-img {
    width: 100%;
}

/***************************************************************
 *                                                             *
 *                      Experience section                     *
 *                                                             *
 ***************************************************************/
.handal-contents {
    width: 80%;
    height: 100%;
    margin: auto;
}

.contents-container {
    height: 100%;
}

.contents-rows {
    justify-content: space-around;
    height: 50%;
    align-items: center;
    /* padding: 20px 0; */
}

.contents-img-box {
    padding: 0;
}

.contents-imgs {
    width: 100%;
    padding: 5%;
    transition: all 0.2s ease;
}

.contents-imgs:hover {
    cursor: pointer;
    padding: 0;
}

.contents-row {
    padding-top: 10px;
}

.section-info-left {
    display: flex;
    text-align: center;
}

.poster {
    margin: auto;
}

.poster > img {
    height: 400px;
    width: auto;
    margin: auto;
}

.poster-desc {
    width: fit-content;
    margin: auto;
    text-align: left;
    font-size: 15px;
}

.sub-deco {
    list-style: '* ';
}

.no-deco {
    list-style: none;
}

.deposit-title {
    padding-top: 10px;
    text-align: center;
}

.carousel,
.carousel-inner {
    height: 100%;
    background-color: #fff;
}

.carousel-item {
    height: 100%;
}

.carousel-item-custom {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    padding: 0 30px;
    margin: auto;
    justify-content: center;
    background-color: #fff;
}

.ai-left,
.pi-left,
.ri-left {
    font-weight: bold;
}

.p-items {
    padding: 5px;
}

/***************************************************************
 *                                                             *
 *                         Living section                      *
 *                                                             *
 ***************************************************************/
#section-living {
    color: #fff;
}

.living-container {
    margin-top: 30px;
}

@media(min-width: 1200px) {
    .schedule-card {
        width: 22%;
    }
}

@media(max-width: 1500px) {
    .card-image,
    .schedule-card {
        height: 100px;
    }
    .schedule-card {
        margin: 10px 0;
    }
    .pg-pips {
        opacity: 0;
    }
}

.schedule-row {
    justify-content: space-between;
}

.card-caption,
.card-image > img,
.card-image:after {
    transition: all 0.2s ease-in-out 0s;
}

.schedule-card {
    padding: 3px;
    height: 100%;
    background: rgba(17, 17, 17, 0.6);
    border: 2px solid #fff;
}

.schedule-card a {
    text-decoration: none;
    position: relative;
    display: block;
    overflow: hidden;
}

.schedule-card:hover .card-image:after {
    cursor: pointer;
}

.schedule-image {
    position: relative;
    overflow: hidden;
}

.schedule-image img {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.schedule-image:after {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.schedule-card:hover .schedule-caption {
    cursor: pointer;
    bottom: 50%;
    opacity: 1;
    z-index: 3;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    background-color: rgba(17, 17, 17, 0.6);
}

.schedule-caption {
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 53%;
    opacity: 0;
    position: absolute;
    left: 0;
    text-align: center;
    overflow: hidden;
    background-color: rgba(17, 17, 17, 0.6);
}

.schedule-title {
    /* font-family: gmarket-sans; */
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
}

.schedule-peroid {
    padding-bottom: 20px;
}

.schedule-desc {
    margin-bottom: 5px;
}

.schedule-desc-key {
    font-size: 20px;
    font-weight: bold;
}

/***************************************************************
 *                                                             *
 *                         Apply section                       *
 *                                                             *
 ***************************************************************/
.apply-container, .btn-apply-box {
    width: 100%;
    height: 100%;
}

.btn-apply-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-apply {
    border: 2px solid #fff;
    border-radius: 20px;
    transition: all 0.2s ease;
}

.btn-apply-text {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    margin: 0;
    transition: all 0.2s ease;
}

.btn-apply:hover {
    border: 2px solid #11B359;
    background-color: #fff;
    cursor: pointer;
}

.btn-apply:hover .btn-apply-text {
    color: #11B359;
}

.apply-character-box {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 30%;
    /* height: 100%; */
}

#apply-img {
    width: 100%;
}

.twins-container {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding: 30px 0;
}

.twins-container .container:after {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.7);
    z-index: -5;
}

.twins-row {
    justify-content: space-between;
}

.twins-left,
.twins-right {
    width: fit-content;
    padding: 20px 30px 20px 50px;
    border-radius: 30px;
    border: 2px solid #fff;
    color: #fff;
}

.twins-titles {
    margin-bottom: 20px;
    padding: 10px 0;
    text-align: center;
}

.twins-titles > h4 {
    font-weight: bold;
}

.twins-contents {
    padding: 0;
}

.twins-items p {
    margin-bottom: 20px;
}

/***************************************************************
 *                                                             *
 *                  Materials section Only                     *
 *                                                             *
 ***************************************************************/
.materials-row {
    justify-content: space-around;
}

.materials-already {
    padding-right: 50px;
}

.material-icons {
    font-size: 30px;
    text-align: center;
}

.etc > span {
    font-size: 20px;
}

.icons-right {
    padding-top: 20px;
}

/* font-css */
@font-face {
    font-family: classic-type;
    src: url(../fonts/cafe24_Classic/Cafe24Classictype.ttf);
}
@font-face {
    font-family: danjung;
    src: url(../fonts/cafe24_Danjung/Cafe24Danjunghae.ttf);
}
@font-face {
    font-family: surround-air;
    src: url(../fonts/cafe24_surroundAir/Cafe24SsurroundAir.ttf);
}

/***************************************************************
 *                                                             *
 *                      According to Width                     *
 *                                                             *
 ***************************************************************/
@media(max-width: 576px) {
    .main-onus-contents {
        width: 100%;
    }
}

@media(min-width: 576px) {
    .main-onus-contents {
        width: 540px;
    }
}

@media(min-width: 768px) {
    .main-onus-contents {
        width: 720px;
    }
}

@media(min-width: 992px) {
    .main-onus-contents {
        width: 960px;
    }
}

@media(min-width: 1200px) {
    .main-onus-contents {
        width: 1140px;
    }
}

@media(min-width: 1400px) {
    .main-onus-contents {
        width: 1320px;
    }
}
