/***************************************************************
 *                                                             *
 *                              common                         *
 *                                                             *
 ***************************************************************/

:root {
    --navbar-height: 90px;
    --sangsa-pt: 30px;
}

.sections {
    padding-top: var(--navbar-height);
    position: relative;
}

.emphasize {
    font-weight: bold;
}

.backgrounds {
    width: fit-content;
    margin: auto;
    background-color: #000;
}

.background-imgs {
    opacity: 0.5;
    height: 100vh;
}

/***************************************************************
 *                                                             *
 *                          intro section                      *
 *                                                             *
 ***************************************************************/
.section-intro {
    display: flex;
    text-align: center;
    align-items: center;
    color: #fff;
}

#intro-background-cover {
    background-color: #000;
    width: fit-content;
    margin: auto;
}

.intro-container {
    height: 40vh;
}

/***************************************************************
 *                                                             *
 *                       character section                     *
 *                                                             *
 ***************************************************************/
#section-character {
    padding-bottom: 0;
}

#character-bg {
    opacity: 0.7;
}

.character-container {
    position: relative;
}

.character-dodudge-box {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    width: 55%;
    height: 55%;
    align-items: center;
}

#dodudge {
    width: 100%;
}

.character-dodudge-box {
    text-align: right;
}

/***************************************************************
 *                                                             *
 *                         plan section                        *
 *                                                             *
 ***************************************************************/
.plan-title {
    width: 100%;
    padding-top: 30px;
    text-align: center;
    color: #fff;
}

.row-plan {
    margin-top: 20px;
    height: 100%;
}

.plan-contents {
    position: relative;
    padding: 0;
    transition: all 0.2s ease;
}

.plan-img-box {
    height: 100%;
}

.plan-imgs {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
}

.plan-desc {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    height: 50%;
    color: #fff;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    z-index: 100;
    opacity: 0;
}

.plan-desc p {
    text-align: center;
}

.plan-d-title {
    font-size: 30px;
    font-weight: bold;
}

.plan-d-category {
    font-size: 40px;
    font-family: ohsquare;
}

.plan-d-content {
    font-size: 20px;
    font-weight: bold;
}

.plan-contents:hover {
    border: 2px solid #fff;
}

.plan-img-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.2s ease;
}

.plan-contents:hover .plan-img-box::after {
    opacity: 1;
}

.plan-contents:hover .plan-desc {
    height: 100%;
    opacity: 1;
}

/***************************************************************
 *                                                             *
 *                          sangsa section                     *
 *                                                             *
 ***************************************************************/
.sangsa-container {
    z-index: 100;
    color: white;
    height: 100%;
}

.container-contents {
    height: 100%;
    align-items: center;
}

.sangsa-left {
    padding: 0;
    text-align: center;
}

.imgs {
    height: 600px;
}

.imgs > img {
    height: 100%;
}

.sangsa-right {
    position: relative;
    display: flex;
    height: 100%;
}

.sangsa-title {
    position: absolute;
    width: 100%;
    top: var(--navbar-height);
    padding-top: var(--sangsa-pt);
    text-align: center;
}

.sangsa-title > h2 {
    text-align: center;
}

.container-desc {
    padding-top: var(--sangsa-pt);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sangsa-desc {
    width: fit-content;
    margin: auto;
    font-size: 18px;
}

.sangsa-desc .emphasize {
    font-size: 21px;
}

/***************************************************************
 *                                                             *
 *                          salon section                      *
 *                                                             *
 ***************************************************************/
.section-salon {
    text-align: center;
    padding-bottom: 0;
}

.salon-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    color: #fff;
}

.salon-title {
    padding-top: 50px;
}

.salon-desc {
    padding-bottom: 80px;
    font-size: 21px;
}

.salon-desc .emphasize {
    font-size: 25px;
}

/***************************************************************
 *                                                             *
 *                          font-css                           *
 *                                                             *
 ***************************************************************/
 @font-face {
    font-family: dangdang;
    src: url(../fonts/cafe24_dangdang/Cafe24Dangdanghae.ttf);
}
@font-face {
    font-family: ohsquare;
    src: url(../fonts/cafe24_ohsquare/Cafe24Ohsquare.ttf);
}
@font-face {
    font-family: surround-air;
    src: url(../fonts/cafe24_surroundAir/Cafe24SsurroundAir.ttf);
}