<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <body>

        <!-- Footer -->
        <footer
            class="footer bg-dark text-light"
            th:fragment="footer"
            id="footer"
            tabindex="-1">
            <div class="container-xxl">
                <div class="row align-items-center" id="footer-contents">
                    <div class="col-md-8">
                        <p class="copyright text-light">&copy; &nbsp;ONUS, All Rights Reserved</p>
                    </div>
                    <div class="col-md-3 text-center footer-info">
                        E-mail: onus0128@gmail.com
                    </div>
                    <div class="col-md-1">
                        <div class="footer-social-links">
                            <a href="https://www.instagram.com/dog0on1000" target="_blank">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a
                                href="https://www.youtube.com/c/%EB%8F%84%EA%B3%A0ONAIR/featured"
                                target="_blank">
                                <i class="bi bi-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>