<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!-- <head th:replace="layout/header :: head ('도고온천마을소개')"></head> -->
    <head th:fragment="head(title)">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

        <!-- bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <!-- scripts -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
        <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
        <script
            src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
            integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
            integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
            crossorigin="anonymous"
            async="async"></script>
        <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>
        <script src="https://unpkg.com/pageable@latest/dist/pageable.min.js"></script>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="../static/css/common.css">
        <link rel="stylesheet" href="../static/css/village_intro.css">

        <!-- favicons -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/favicons/apple-touch-icon.png">
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/favicons/favicon-32x32.png">
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../static/favicons/favicon-16x16.png">
        <link rel="icon" type="image/x-icon" href="../static/favicons/favicon.ico">
        <link rel="manifest" href="../static/favicons/site.webmanifest">

        <title th:text="${title}">도고온천마을소개</title>
    </head>

    <body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">

        <section class="loading">
            <div class="loading-components">
                <h1 class="loading-title">Loading...</h1>
                <div class="progress-bar" aria-hidden="true">
                    <span class="progress-bar-gauge"></span>
                </div>
            </div>
        </section>

        <!-- <header th:replace="layout/header :: header"></header> -->
        <!-- top navbar -->
        <header
            th:fragment="header"
            class="navbar navbar-dark navbar-custom navbar-expand-lg fixed-top"
            id="top-navbar">
            <div class="container-xxl navbar-container">
                <a href="index.html" class="navbar-brand" tabindex="-1">
                    <img src="../static/images/dogoon1000_logo.png" alt="logo" id="logo">
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navmenu"
                    aria-controls="navmenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto text-light">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link header-nav-items" tabindex="-1">처음으로</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link header-nav-items" tabindex="-1">DOGO온천 마을 소개</a>
                        </li>
                        <li class="nav-item">
                            <a href="handal.html" class="nav-link header-nav-items" tabindex="-1">마을살이</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link header-nav-items to-archive" tabindex="-1">공지사항</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link header-nav-items to-archive" tabindex="-1">기록</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <main id="container">
            <section
                class="sections section-intro"
                id="section-intro"
                data-anchor="section-intro">
                <div class="backgrounds" id="intro-background-cover">
                    <img src="../static/images/village_images/intro_bg.png" alt="마을소개 배경" id="intro-bg" class="background-imgs">
                </div>
                <div class="container intro-container">
                    <div class="plan-title intro-contents">
                        <h2 class="emphasize">DOGO 온천 마을 소개</h2>
                    </div>
                </div>
            </section>

            <section
                class="sections section-character"
                id="section-character"
                data-anchor="section-character">
                <div class="container character-container container-contents">
                    <div class="character-dodudge-box">
                        <img src="../static/images/village_images/dodudge_intro.png" alt="dodudge" id="dodudge">
                    </div>
                </div>
                <div class="backgrounds background-character">
                    <img
                        src="../static/images/village_images/logos_w_padding.png"
                        alt="logos"
                        id="character-bg"
                        class="background-imgs">
                </div>
            </section>

            <section
                class="sections section-paln"
                id="section-plan"
                data-anchor="section-plan">
                <div class="container plan-container">
                    <div class="plan-title">
                        <h2 class="emphasize">"식물, 동물 그리고 사람이 행복한 DOGO 온천 마을"</h2>
                    </div>
                    <div class="row row-plan">
                        <div class="col-4 plan-left plan-contents">
                            <div class="plan-img-box">
                                <img src="../static/images/village_images/plan_plant_compressed.jpg" alt="" class="plan-imgs">
                            </div>
                            <div class="plan-desc">
                                <p class="plan-d-title">1년차</p>
                                <p class="plan-d-category">식물</p>
                                <p class="plan-d-content">원예, 농업</p>
                            </div>
                        </div>
                        <div class="col-4 plan-center plan-contents">
                            <div class="plan-img-box">
                                <img src="../static/images/village_images/plan_animal_compressed.jpg" alt="" class="plan-imgs">
                            </div>
                            <div class="plan-desc">
                                <p class="plan-d-title">2년차</p>
                                <p class="plan-d-category">동물</p>
                                <p class="plan-d-content">유기동물, 반려동물 사업<br>동행 리빙랩</p>
                            </div>
                        </div>
                        <div class="col-4 plan-right plan-contents">
                            <div class="plan-img-box">
                                <img src="../static/images/village_images/plan_people_compressed.jpg" alt="" class="plan-imgs">
                            </div>
                            <div class="plan-desc">
                                <p class="plan-d-title">1~3년차</p>
                                <p class="plan-d-category">공동체</p>
                                <p class="plan-d-content">창업, 공유공간 거리조성</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="backgrounds plan-back">
                    <img
                        src="../static/images/village_images/white_box.png"
                        alt="흰바탕"
                        id="white_box"
                        class="background-imgs">
                </div>
            </section>
            
            <section
                class="sections section-sangsa"
                id="section-sangsa"
                data-anchor="section-sangsa">
                <div class="container sangsa-container">
                    <div class="row container-contents">
                        <div class="col-6 sangsa-left">
                            <div id="sangsa-img-carousel" class="carousel slide" data-bs-ride="true">
                                <div class="carousel-indicators">
                                    <button
                                        type="button"
                                        data-bs-target="#sangsa-img-carousel"
                                        data-bs-slide-to="0"
                                        class="active"
                                        aria-current="true"
                                        aria-label="Slide 1"></button>
                                    <button
                                        type="button"
                                        data-bs-target="#sangsa-img-carousel"
                                        data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button
                                        type="button"
                                        data-bs-target="#sangsa-img-carousel"
                                        data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>    
                                </div>
                                <div class="carousel-inner sangsa-carousel-inner">
                                    <div class="carousel-item imgs active" data-bs-interval="2000">
                                        <img src="../static/images/village_images/sangsa_front0.jpg" alt="ㄷㄱㅅㅅ1">
                                    </div>
                                    <div class="carousel-item imgs" data-bs-interval="2000">
                                        <img src="../static/images/village_images/sangsa_front1.jpg" alt="ㄷㄱㅅㅅ2">
                                    </div>
                                    <div class="carousel-item imgs" data-bs-interval="2000">
                                        <img src="../static/images/village_images/sangsa_inner.png" alt="ㄷㄱㅅㅅ내부">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 sangsa-right">
                            <div class="sangsa-title">
                                <h2 class="emphasize">도고상사</h2>
                            </div>
                            <div class="container container-desc">
                                <div class="sangsa-desc">
                                    <p>
                                        <span class="emphasize">함께 일하는 공유 오피스 “도고상사”</span></p>
                                    <p>온어스가 운영하는 공간으로,</p>
                                    <p>
                                        <span class="emphasize">입주 기업</span>과
                                        <span class="emphasize">멤버십 회원, 한 달 살이 프로그램 참여자</span>는<br>자유롭게 이용 가능합니다.</p>
                                    <p>* 테이블, 의자, 책상, 프린터, 냉장고 등이 준비되어 있습니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="backgrounds sangsa-back">
                    <img
                        src="../static/images/village_images/sangsa_back.jpg"
                        alt="도고상사배경"
                        id="sangsa-background"
                        class="background-imgs">
                </div>
            </section>
            <section
                class="sections section-salon"
                id="section-salon"
                data-anchor="section-salon">
                <div class="container salon-container container-contents">
                    <div class="salon-title">
                        <h2 class="emphasize">도고살롱</h2>
                    </div>
                    <div class="salon-desc">
                        <p>도고상사 안에 있는 바 형태의 살롱.</p>
                        <p class="emphasize">퇴근 후 한 잔?</p>
                    </div>
                </div>
                <div class="backgrounds background-salon">
                    <img
                        src="../static/images/village_images/dogo_salon_bg.jpg"
                        alt="도고살롱"
                        id="img-salon"
                        class="background-imgs">
                </div>
            </section>
        </main>

        <!-- <footer th:replace="layout/footer :: footer"></footer> -->
        <footer
            class="footer bg-dark text-light"
            th:fragment="footer"
            id="footer"
            tabindex="-1">
            <div class="container-xxl">
                <div class="row align-items-center" id="footer-contents">
                    <div class="col-md-8">
                        <p class="copyright text-light">&copy; &nbsp;ONUS, All Rights Reserved</p>
                    </div>
                    <div class="col-md-3 text-center footer-info">
                        E-mail: onus0128@gmail.com
                    </div>
                    <div class="col-md-1">
                        <div class="footer-social-links">
                            <a href="https://www.instagram.com/dog0on1000" target="_blank">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a
                                href="https://www.youtube.com/c/%EB%8F%84%EA%B3%A0ONAIR/featured"
                                target="_blank">
                                <i class="bi bi-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scroll UP -->
        <div class="scroll-up">
            <a href="">
                <i class="bi bi-chevron-double-up"></i>
            </a>
        </div>

        <script src="../static/js/common.js" type="text/javascript"></script>
        <script src="../static/js/village_intro.js"></script>
    </body>
</html>